body {
    margin: none;
    padding: none;
    background-color: #939393;
}
.container {
    background-color: #939393;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

.titulo {
    font-family: "Complex", sans-serif;
    color: hsl(55, 100%, 58%);
    font-size: 60px;
    margin: 10px;
    border: none;
    -webkit-text-stroke: 1px black;
}

.paragrafo {
    font-family: "Constantia", sans-serif;
    color: #34ff56;
    font-size: 25px;
    margin: 10px;
    border: none;
}
.paragrafo1 {
    font-family: "ItalicC", sans-serif;
    color: #2121ff;
    font-size: 25px;
    margin: 10px;
    border: none;
}